 <footer>
        <p>&copy; 2024 Diseño Web II</p>
        <a href="https://github.com/OSMANJGUARDADO">Osman Javier Guardado</a>
        <a href="https://github.com/LuisMz04">Luis Fernando Martínez</a>
        <a href="https://github.com/rigojsv">Rigoberto José Sánchez</a>
        <a href="https://github.com/SrGomita">Efraín Alvarado</a>

    </footer>
