<header>
        <img class="logo" src="resources/Logomod.jpg" alt="logo SafeHN">
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        <nav class="hide">
            <ul class="menu">
                <li>
                    <a class="menu-a" href="index.html">Inicio</a>
                </li>
                <li>
                    <a class="menu-a" href="about.html">Acerca de nosotros</a>
                </li>
                <li>
                    <a class="menu-a" href="products.html">Productos</a>
                    <ul class="submenu">
                        <li>
                            <a href="bracelets.html">Pulseras</a>
                        </li>
                        <li>
                            <a href="chains.html">Cadenas</a>
                        </li>
                        <li>
                            <a href="rings.html">Anillos</a>
                        </li>
                        <li>
                            <a href="earrings.html">Aritos</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="menu-a" href="events.html">Eventos</a>
                </li>
                <li>
                    <a class="menu-a" href="faq.html">Preguntas Frecuentes</a>
                </li>
                <li>
                    <a class="menu-a" href="contact.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>